# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized

### **Objectives**
+ Popular Languages in Data Science
+ Commonly used Libraries in Data Science
+ Popular Development Environment Open Source tools in Data Science
+ Arithmetic Expression examples in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Apache Spark
3. Matplotlib

| Data Science Tools |
----------------------
| Jupyter Notebooks |
| R Studio |
| Jupyter Labs |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Nikhil Datta